<div class="container">
	<hr style="border-color:#FFFFFF;">
	    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Package:</strong></span>Plan</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined:</strong></span> Date</li>
            </ul>
           <div class="panel panel-default">
             <div class="panel-heading">Heading
                </div>
                <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i> Something
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Heading<i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body">Body stuff</div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">App Subscriptions</div>
                <div class="panel-body">
                  <div class="row">
    				<div class="col-md-4">
    					<div class="thumbnail">
    						<img alt="200x300" src="http://lorempixel.com/610/410/city">
    						<div class="caption">
    							<h5 class="text-center">
    								App Name
    							</h5>

    						</div>
    					</div>
    				</div>
    				<div class="col-md-4">
    					<div class="thumbnail">
    						<img alt="200x300" src="http://lorempixel.com/610/410/city">
    						<div class="caption">
    							<h5 class="text-center">
    								App Name
    							</h5>

    						</div>
    					</div>
    				</div>
    				<div class="col-md-4">
    					<div class="thumbnail">
    						<img alt="200x300" src="http://lorempixel.com/610/410/city">
    						<div class="caption">
    							<h5 class="text-center">
    								App Name
    							</h5>

    						</div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Heading</div>
            <div class="panel-body"> Description</div>
        </div>
           <div class="panel panel-default">
                <div class="panel-heading">Heading</div>
                <div class="panel-body">Description</div>
          </div>
      </div>
    </div>
</div>
